html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}